<div class="image-area">
  <div class="image-items"
       ng-repeat="image in $ctrl.images"       
       ng-show="$ctrl.isCurrentIndex($index)">

    <span class="id image_id">{{$ctrl.imageId(image)}}</span>    
    <img class="responsive"
         ng-src="{{$ctrl.imageUrl(image)}}">
         
    <span class="caption overlay">{{$ctrl.imageCaption(image)}}</span>

    <span class="image-browse overlay"
          ui-sref="images({id:$ctrl.imageId(image)})">
      <span class="overlay glyphicon glyphicon-share-alt"></span>
    </span>

  </div>

  <span class="overlay glyphicon glyphicon-chevron-left"
        ng-click="$ctrl.previousImage()" ng-show="$ctrl.images"></span>

  <span class="overlay glyphicon glyphicon-chevron-right"
        ng-click="$ctrl.nextImage()" ng-show="$ctrl.images"></span>  
</div>
