/* 
 * layout.css
 */

 body {
  background-color: #d2b48c;
 }

form .invalid {
  color: red;
}

.fullsize {
  padding-right: 0px;
  padding-left: 0px;
}

/*********** navbar *************/

.nav li form {
  padding-left: 10px; /* adds spacing along left of dropdown menu form */
  padding-right: 10px;
}

[readonly='readonly'] {
  background-color: inherit;
}

button:disabled {
    color:#717782;
}

img.image-preview {
  display: inline-block;
  width: 300px;
  height: 200px;
  margin: 10px;
}
.crop-area {
  position: relative;
  display:block;
  width:300px;
  height:350px;
  margin: 10px;
  overflow: visible;
}

/*** image viewer ***/

sd-image-viewer img {
    width: 100%;  
}
sd-image-viewer .overlay {
  color: white;
  opacity: 0.0;
  z-index: 1002;  
  cursor: pointer;
}
sd-image-viewer .overlay:hover {
  opacity: 1;
}

sd-image-viewer .image-area  {
  position: relative;
}

sd-image-viewer .caption {
  text-align: center;
  font-size: 1.2em;
  background: rgba(204, 204, 204, 0.5);

  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 5px;
  height: 35px;
}

sd-image-viewer .glyphicon {
  font-size: 5em;
}
sd-image-viewer span.image-browse {
  position: absolute;
  top: 10px;
  right: 10px;  
  background-color: grey;
}

sd-image-viewer .glyphicon-chevron-left {
  position: absolute;
  top: 40%;
  left: 20px;
}
sd-image-viewer .glyphicon-chevron-right {
  position: absolute;
  top: 40%;
  right: 20px;
}

/*** media queries ****/

/* Large */
@media (min-width: 1200px) {
}

/* Medium */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Extra small */
@media (max-width: 767px) {
  .image-rendering img,
  .image-content > div {
    display: block;
    margin-left: auto;
    margin-right: auto 
  }

  .crop-area {
    margin: 0px;    
    margin-left: auto;
    margin-right: auto 
  }
}

/* Super-extra small */
@media (max-width: 479px) {
}

