/* 
 * layout.css
 */

 body {
  background-color: #d2b48c;
 }

form .invalid {
  color: red;
}

.outlined {
  border: 1px solid black;
}


.fullsize {
  padding-right: 0px;
  padding-left: 0px;
}

/*********** navbar *************/

#main-menubar nav.navbar {
  margin-bottom: 0px;
}

.nav li form {
  padding-left: 10px; /* adds spacing along left of dropdown menu form */
  padding-right: 10px;
}

/* get the two origin forms to be side-by-side */
span.search-criteria form {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

/* re-position the fields after we applied the display inline */
span.search-criteria form input {
  margin-top: 8px;
  margin-bottom: 8px;
}

/* right-size the distance field */
span.search-criteria form input[name='distance-limit'] {
  width: 75px;
}

/*********** main display-area ********/
#display-area {
  padding-left: 0;
  padding-right: 0;
}

/*********** areas ********/
div.areas-left, div.areas-right {
  padding-left: 0;
  padding-right: 0;
}
div.area-pane {
  position: relative;
  border: 1px solid black;
}
div.area-pane input[type='checkbox'] {
  position: absolute;
  right: 10px;
  top: 10px;
}

div.area-pane div.tab-content {
  height: 44vh;
  overflow-y: auto; 
}
div.area-pane.expanded div.tab-content {
  height: 93vh;
}

div.area-pane div.tab-pane ul.items {
  margin-top: 5px;
  padding-left: 5px;
}
div.area-pane div.tab-pane ul.items span.id {
  display: none;
}
div.area-pane div.tab-pane ul.items img {
  width: 50px;
}
div.area-pane.expanded div.tab-pane ul.items img {
  width: 100px;
}

div.area-pane div.tab-pane ul.items li.selected {
  font-size: 1.2em;
  font-weight: bold;
  background-color: #e0e0d1;
}


div.areas-pane > ul.tab-label li a {
  line-height: 7px;
  font-size: 0.8em;
} 

/*** map height ***/

div.area-pane div.tab-content div.tab-pane,
div.area-pane div.tab-content div.tab-pane div#map {
  height: 100%;
}

/********************************/

[readonly='readonly'] {
  background-color: inherit;
}

button:disabled {
    color:#717782;
}

img.image-preview {
  display: inline-block;
  width: 300px;
  height: 200px;
  margin: 10px;
}
.crop-area {
  position: relative;
  display:block;
  width:300px;
  height:350px;
  margin: 10px;
  overflow: visible;
}

/*** image viewer ***/

sd-image-viewer img {
    width: 100%;  
}
sd-image-viewer .overlay {
  color: white;
  opacity: 0.0;
  z-index: 1002;  
  cursor: pointer;
}
sd-image-viewer .overlay:hover {
  opacity: 1;
}

sd-image-viewer .image-area  {
  position: relative;
}

sd-image-viewer .caption {
  text-align: center;
  font-size: 1.2em;
  background: rgba(204, 204, 204, 0.5);

  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 5px;
  height: 35px;
}

sd-image-viewer .glyphicon {
  font-size: 5em;
}
sd-image-viewer span.image-browse {
  position: absolute;
  top: 10px;
  right: 10px;  
  background-color: grey;
}

sd-image-viewer .glyphicon-chevron-left {
  position: absolute;
  top: 40%;
  left: 20px;
}
sd-image-viewer .glyphicon-chevron-right {
  position: absolute;
  top: 40%;
  right: 20px;
}

sd-image-viewer div.image-items span.id {
  display: none;
}


/*** media queries ****/

/* Large */
@media (min-width: 1200px) {
}

/* Medium */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {
    /* make navbar collapse at larger size */
    /* https://coderwall.com/p/wpjw4w/change-the-bootstrap-navbar-breakpoint */
    #main-menubar .navbar-header {
        float: none;
    }
    #main-menubar .navbar-left,.navbar-right {
        float: none !important;
    }
    #main-menubar .navbar-toggle {
        display: block;
    }
    #main-menubar .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    #main-menubar .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    #main-menubar .navbar-collapse.collapse {
        display: none!important;
    }
    #main-menubar .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    #main-menubar .navbar-nav>li {
        float: none;
    }
    #main-menubar .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #main-menubar .collapse.in{
        display:block !important;
    }  
}

/* Extra small */
@media (max-width: 767px) {
  .image-rendering img,
  .image-content > div {
    display: block;
    margin-left: auto;
    margin-right: auto 
  }

  .crop-area {
    margin: 0px;    
    margin-left: auto;
    margin-right: auto 
  }
}

/* Super-extra small */
@media (max-width: 479px) {
}

