<form class="image-form row" name="imageform">
  <span class="image_id id">{{$ctrl.item.id}}</span>
  <span class="invalid">{{$ctrl.item.errors.full_messages}}</span>

  <div class="image-caption row col-lg-12">
    <label class="col-xs-3">Caption:</label>
    <input class="col-xs-9"
           name="image-caption" 
           ng-model="$ctrl.item.caption" 
           ng-readonly="!$ctrl.authz.canUpdate"
           maxlength="60"
           pattern=".{3,}" title="3 character minimum for Caption"/>
    <span class="invalid">{{$ctrl.item.errors.name}}</span>
  </div>


  <div class="image-things row col-lg-12"
       ng-show="$ctrl.item.id">
    <label class="col-xs-3">Related Things:</label>
    <ul class="image-things col-xs-9">
      <li ng-repeat="ti in $ctrl.things | orderBy:'priority'">
        <a data-ui-sref="things({id:ti.thing_id})">
          <span class="id thing_id">{{ti.thing_id}}</span>
          {{ti.thing_name}}</a>
      </li>
    </ul>
    <span class="invalid">{{$ctrl.item.errors.thing_images}}</span>
  </div>

  <div class="linkable-things row col-lg-12"
       ng-show="$ctrl.linkable_things.length>0 &&
                $ctrl.authz.authenticated">
    <label class="col-xs-3">Linkable Things:</label>
    <div class="link-things" class="col-xs-9">
      <select name="linkable-things" 
              ng-model="$ctrl.selected_linkables"               
              multiple>
        <option ng-repeat="thing in $ctrl.linkable_things | orderBy:'name'"
                value="{{thing.id}}">{{thing.name}}</option>
      </select>
    </div>
    <span class="invalid">{{$ctrl.item.errors.linkable_things}}</span>
  </div>


  <div class="image-controls">
    <span ng-show="$ctrl.authz.authenticated">
      <button name="image-create"
              ng-show="!$ctrl.item.id && $ctrl.authz.canCreate"
              type="submit"
              ng-disabled="imageform.$invalid"
              ng-click="$ctrl.create()">Create Image</button>

      <span ng-show="$ctrl.item.id">
        <button name="image-update"
                type="submit"
                ng-show="$ctrl.authz.canUpdate" 
                ng-disabled="!imageform.$dirty"
                ng-click="$ctrl.update()">Update Image</button>
        <button name="image-delete"
                type="submit"
                ng-show="$ctrl.authz.canDelete" 
                ng-click="$ctrl.remove()">Delete Image</button>
      </span>
    </span>
    <button name="image-clear"
            type="submit"
            ng-show="$ctrl.item.id || imageform.$dirty"
            ng-click="$ctrl.clear()">Clear Image</button>
  </div>

</form>