<!DOCTYPE html>
<html lang="en" ng-app="spa-demo">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "spa-demo", :media => "all" %>
    <%= javascript_include_tag "spa-demo" %>
  </head>
  <body>

    <div id="main-menubar" class="container-fluid fullsize">
      <sd-navbar></sd-navbar>
    </div>
    <div id="display-area" class="container-fluid">
      <div ui-view></div>
    </div>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAPS_JSMAPS_KEY'] %>">
    </script>
  </body>
</html>